@charset "utf-8";

@import 'bourbon/bourbon';
@import 'base/base';  // bitters
@import 'neat/neat';

$bg-color: #efefe;
$text-color: #333;
$link-color: #c00;
$journals-color: #c00;
$projects-color: #0c0;
$talks-color: #00c;
$publications-color: #333;

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: 'Merriweather', arial, serif;
  line-height: 1;
  margin: 1em auto;
  width: 80%;
  &.journals {
    background-color: $journals-color;
    color: #fff;
    a { color: #fff; }
  }
  &.projects {
    background-color: $projects-color;
    color: #fff;
    a { color: #fff; }
  }
  &.talks {
    background-color: $talks-color;
    color: #fff;
    a { color: #fff; }
  }
  &.publications {
    background-color: $publications-color;
    color: #fff;
    a { color: #fff; }
  }
}
a {
  color: $link-color;
  text-decoration: underline;
}
a:visited {
  color: shade($link-color, 50%);
}
a:hover {
  color: tint($link-color, 50%);
}
h1 {
  font-family: 'Merriweather', arial, serif;
  font-size: 2em;
  font-weight: normal;
}
section {
  padding: 0 0 3em 0;
  h1 {
    font-family: 'Merriweather', arial, serif;
    font-size: 1.5em;
  }
  h2 {
    font-family: 'Merriweather', arial, serif;
    font-size: 1.2em;
  }
  p {
    line-height: 1.7;
  }
}
ul {
  line-height: 1.5;
}

.invisibleSectionTitle {
  display: none;
}

/*
 * Tagline component.
 */
.tagline {
  font-size: 1.5em;
  font-weight: normal;
}

/*
 * Inline List component
 */
@mixin inlineList {
  display: inline-table;
  font-size: 1em;
  line-height: 1;
  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
}
@mixin inlineList-item {
  float: left;
  margin: 0 1em 0 0;
  padding: 0;
}
.inlineList {
  @include inlineList;
}
.inlineList-item {
  @include inlineList-item;
}
@mixin boxedLink {
  padding: .5em;
  text-decoration: none;
  color: #fff;
  &:visited {
    color: #fff;
  }
}
.inlineList-journalsLink {
  background-color: $journals-color;
  padding: .5em;
  text-decoration: none;
  &:hover {
    background-color: tint($journals-color, 40%);
  }
}
.inlineList-journalsLink {
  @include boxedLink;
  background-color: $journals-color;
  &:hover {
    background-color: tint($journals-color, 40%);
  }
}
.inlineList-projectsLink {
  @include boxedLink;
  background-color: $projects-color;
  &:hover {
    background-color: tint($projects-color, 40%);
  }
}
.inlineList-talksLink {
  @include boxedLink;
  background-color: $talks-color;
  &:hover {
    background-color: tint($talks-color, 40%);
  }
}
.inlineList-publicationsLink {
  @include boxedLink;
  background-color: $publications-color;
  &:hover {
    background-color: tint($publications-color, 40%);
  }
}
