---
title: Sooey
---

<h1>Sooey</h1>

<p class="tagline">Hi! I'm Junya Ogura, product development nut.</p>

<section>
  <h2 class="invisibleSectionTitle">Social Accounts</h2>
  <ul class="inlineList">
    <li class="inlineList-item">
      <i class="fa fa-envelope-o"></i>
      Please contact me via Twitter
    </li>
    <li class="inlineList-item">
      <i class="fa fa-twitter"></i>
      <a href="https://twitter.com/junya">Twitter</a>
    </li>
    <li class="inlineList-item">
      <i class="fa fa-github"></i>
      <a href="https://github.com/juno">GitHub</a>
    </li>
    <li class="inlineList-item">
      <i class="fa fa-bookmark"></i>
      <a href="http://pinboard.in/u:junya/" title="Bookmark">Pinboard</a>
    </li>
    <li class="inlineList-item">
      <i class="fa fa-instagram"></i>
      <a href="https://instagram.com/junyaogura/">Instagram</a>
    </li>
  </ul>
</section>

<section>
  <h2>Bio</h2>
  <p>
    I was born in Niigata, Japan on 1980. In 1985, My family moved to Tokyo and I currently reside there.
    I’m a web service developer since 1997 and freelancing from 2005 through 2011.
    I co-founded <a href="https://qnyp.com">qnyp</a> the animation community in Jan 2012.
  </p>
</section>

<section>
  <h2>Gears</h2>
  <p>
    <a href="https://en.wikipedia.org/wiki/MacBook_(Retina)">Macbook (Retina)</a>,
    <a href="https://en.wikipedia.org/wiki/Dvorak_Simplified_Keyboard">Dvorak Simplified Keyboard</a>.
  </p>
</section>

<section>
  <h2>Favorite technology stack</h2>
  <p>
    Ruby on Rails, React, PostgreSQL and Heroku.
  </p>
</section>

<section>
  <h2>Favorite music</h2>
  <p>
    <a href="https://en.wikipedia.org/wiki/Deftones">Deftones</a>,
    <a href="https://en.wikipedia.org/wiki/Underoath">Underoath</a>,
    <a href="https://en.wikipedia.org/wiki/Radiohead">Radiohead</a>,
    <a href="https://en.wikipedia.org/wiki/Thursday_(band)">Thursday</a> and
    <a href="https://en.wikipedia.org/wiki/Athlete_(band)">Athlete</a>.
  </p>
</section>

<section>
  <h2 class="invisibleSectionTitle">Pages</h2>
  <ul class="inlineList">
    <li class="inlineList-item">
      <a class="inlineList-diaryLink" href="/diary">
        <i class="fa fa-pencil"></i>
        Diary
      </a>
    </li>
    <li class="inlineList-item">
      <a class="inlineList-projectsLink" href="/projects">
        <i class="fa fa-code"></i>
        Projects
      </a>
    </li>
    <li class="inlineList-item">
      <a class="inlineList-talksLink" href="/talks">
        <i class="fa fa-slideshare"></i>
        Talks
      </a>
    </li>
    <li class="inlineList-item">
      <a class="inlineList-publicationsLink" href="/publications">
        <i class="fa fa-book"></i>
        Publications
      </a>
    </li>
  </ul>
</section>
