---
title: Sooey
---

<h1>Junya Ogura</h1>

<h2>Web service developer.</h2>

<section class="contacts">
  <ul class="clearfix">
    <li>
      <i class="fa fa-envelope-o"></i> junyaogura at gmail.com
    </li>
    <li>
      <i class="fa fa-twitter"></i> <a href="https://twitter.com/junya">Twitter</a>
    </li>
    <li>
      <i class="fa fa-github"></i> <a href="https://github.com/juno">GitHub</a>
    </li>
    <li>
      <i class="fa fa-bookmark"></i> <a href="http://pinboard.in/u:junya/">Pinboard</a>
    </li>
  </ul>
</section>

<section class="bio">
  <h1>Bio</h1>
  <p>
    I was born in Niigata, Japan on March 5, 1980. In 1985, My family moved to Tokyo and I currently reside there.
    I’m a web service developer since 1997 and freelancing from 2005 through 2011.
    I co-founded <a href="https://qnyp.com">qnyp</a> the animation community in Jan 2012.
  </p>
</section>

<section class="favorites">
  <h1>Favorites</h1>
  <p>
    Simplicity,
    Dvorak keyboard layout and Emacs,
    <a href="http://en.wikipedia.org/wiki/Lostprophets">Lostprophets</a>,
    <a href="http://en.wikipedia.org/wiki/Underoath">Underoath</a>,
    <a href="http://en.wikipedia.org/wiki/Radiohead">Radiohead</a>,
    <a href="http://en.wikipedia.org/wiki/Thursday_(band)">Thursday</a>,
    <a href="http://en.wikipedia.org/wiki/Athlete_(band)">Athlete</a>,
    <a href="http://en.wikipedia.org/wiki/Hard-Fi">Hard-fi</a>,
    <a href="http://en.wikipedia.org/wiki/Nineteen_Eighty-Four">1984</a>,
    <a href="http://en.wikipedia.org/wiki/Ubik">Ubik</a>,
    Japanimation and manga.
  </p>
</section>

<section class="pages">
  <ul class="clearfix">
    <li class="journals">
      <a href="/journals">
        <i class="fa fa-pencil"></i>
        Journals
      </a>
    </li>
    <li class="projects">
      <a href="/projects">
        <i class="fa fa-code"></i>
        Projects
      </a>
    </li>
    <li class="talks">
      <a href="/talks">
        <i class="fa fa-slideshare"></i>
        Talks
      </a>
    </li>
    <li class="publications">
      <a href="/publications">
        <i class="fa fa-book"></i>
        Publications
      </a>
    </li>
  </ul>
</section>
