---
title: Projects - Sooey
---

<h1>
  <i class="fa fa-code"></i>
  Projects
</h1>

<section>
  <ul>
    <li>
      <a href="https://qnyp.com">qnyp</a> - Pronounce "kyu-nip". It's a community for Japanese animation fans.
    </li>
    <li>
      <a href="https://github.com/juno">My projects on GitHub</a>
    </li>
    <li>
      Whovar (stealth)
    </li>
    <li>
      <a href="https://groups.google.com/group/heroku-ja">heroku-ja</a>
    </li>
    <li>
      guesswork (php framework, on hold)
    </li>
  </ul>
</section>

<nav>
  <a href="/"><i class="fa fa-angle-double-left"></i></a>
</nav>
