---
title: Publications - Sooey
---

<h1>
  <i class="fa fa-book"></i>
  Publications
</h1>

<section>
  <ul>
    <li>
      Mar, 2004: 技術評論社 オープンソースJavaプロダクツ 軽量コンテナSpring Framework入門
    </li>
    <li>
      Oct, 2003: 技術評論社 SoftwareDesign 2003年10月号 特集「未来形OS探検隊出動！」
    </li>
  </ul>
</section>

<nav>
  <a href="/"><i class="fa fa-angle-double-left"></i></a>
</nav>
