---
title: Talks - Sooey
---

<h1>
  <i class="fa fa-slideshare"></i>
  Talks
</h1>

<section>
  <h2>2010</h2>
  <ul>
    <li>
      <a href="http://www.slideshare.net/juno/heroku-the-ruby-cloud">Heroku the Ruby Cloud</a>
      in Cloudmix at Dec 11, 2010
    </li>
    <li>
      <a href="http://www.slideshare.net/juno/iam-5590955">IAMのはじめかた</a>
      in 第5回AWS User Group-Japan勉強会 at Oct 28, 2010
    </li>
    <li>
      <a href="http://www.slideshare.net/serverworks/webamazon-ec2">Webデベロッパに必要なスキルとしてのAmazon EC2</a>
      at Apr 14, 2010
    </li>
  </ul>
  <h2>2009</h2>
  <ul>
    <li>
      <a href="http://www.slideshare.net/juno/there-are-no-perfect-redmine">完璧なRedmineなど存在しない</a>
      in Redmine勉強会 at Jun 12, 2009
    </li>
  </ul>
</section>

<nav>
  <a href="/"><i class="fa fa-angle-double-left"></i></a>
</nav>
